@media screen and (max-width: 767px) {
    header {
        padding: 6px 0;
    }

    .header-nav {

        position: absolute;
        top: 73px;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: #ffffffcc;
        backdrop-filter: blur(5px);
        flex-direction: column;
        height: 0;
        padding: 0;

        &.show {
            padding: 36px 20px;
            height: calc(100vh - 73px);

            a {
                font-size: 20px;
            }
        }

        a {
            font-size: 0;
            color: #000;
        }
    }
}
