.build {
    margin-top: 50px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .left-container {
        width: 80%;
        margin-right: 20px;
    }

    .right-container {
        width: 20%;
    }

}

.center {
    text-align: center;
}

.build-info {
    display: flex;
    gap: 24px;
    background: #7ee7ff;
    border-radius: 12px;
    padding: 24px;
    margin: 24px 0 36px;

}