<section class="build">

	<div class="container">
		<div class="left-container">
			<image src="assets/img/build-item.svg" alt="build">
				<svg width="746" height="211" viewBox="0 0 746 211" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path id="stage-5" d="M2.5 2.5V208.5H732.5V193L743.5 184.5V180.5H724V138H679.5V136.5L733 86.5V2.5H2.5Z"
				stroke="black" stroke-width="5" />
		</svg>
			</image>
			</div>
		
		<div class="right-container">
			<h2 class="center">Інформація о будинку</h2>
			
			<div class=".build-info">
				<div class="info-item">
					<div class="info-item__title">Номер дома :</div>
					<div>1</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Этаж:</div>
					<div>2</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Кол-во комнат:</div>
					<div>3</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Площадь квартиры:</div>
					<div>4</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Цена за м²:</div>
					<div>5</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Цена за квартиру:</div>
					<div>6</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Номер квартиры:</div>
					<div>7</div>
				</div>
				<div class="info-item">
					<div class="info-item__title">Статус квартиры:</div>
					<div>8</div>
				</div>
			
			</div>
			
		</div>
	</div>

</section>





