<div class="floor-info">
    <div class="info-item">
        <div class="info-item__title">Номер дома :</div>
        <div>1</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Этаж:</div>
        <div>2</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Кол-во комнат:</div>
        <div>3</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Площадь квартиры:</div>
        <div>4</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Цена за м²:</div>
        <div>5</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Цена за квартиру:</div>
        <div>6</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Номер квартиры:</div>
        <div>7</div>
    </div>
    <div class="info-item">
        <div class="info-item__title">Статус квартиры:</div>
        <div>8</div>
    </div>
</div>