<div class="information">
    <h2 class="information-title">Інформація про будинок</h2>
    <ul class="information-list">
        <li class="information-list__item">
            <div>
                <strong>Адреса:</strong>
                <i id="address">вул.Незалежності 7</i>
            </div>
            <div>
                <strong>кіл-ть поверхів</strong>
                <i id="floor">9</i>
            </div>
            <div>
                <strong>кіл-ть вільних кв.</strong>
                <i id="flat">96</i>
            </div>
        </li>
    </ul>
</div>
